<div class="full" >

    <div class="h-halfer" >

        <div class="w-thirder" >
            <div class="titler">
                <img src="/assets/images/u2.png" />
            </div>
            <div class="bodier">
              <table>
                <tr>
                  <div  *ngFor="let schedule of schedules;">
                    <div *ngIf="schedule[0] == 'U2';">
                      <td><b>{{schedule[1]}}</b>:</td>
                      <td class ="time">{{schedule[2]}} mins &nbsp;</td>
                    </div>
                  </div>
                </tr>
              </table>
            </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus177.png" />
          </div>
          <div class="bodier">
            <table>
              <tr>
                <div  *ngFor="let schedule of schedules;">
                  <div *ngIf="schedule[0] == '177';">
                    <td><b>{{schedule[1]}}</b>:</td>
                    <td class ="time">{{schedule[2]}} mins &nbsp;</td>
                  </div>
                </div>
              </tr>
            </table>
          </div>
        </div>

    </div>

    <div class="h-halfer" >

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus50.png" />
          </div>
          <div class="bodier">
            <table>
              <tr>
                <div  *ngFor="let schedule of schedules;">
                  <div *ngIf="schedule[0] == '50';">
                    <td><b>{{schedule[1]}}</b>:</td>
                    <td class ="time">{{schedule[2]}} mins &nbsp;</td>
                  </div>
                </div>
              </tr>
            </table>
          </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus178.png" />
          </div>
          <div class="bodier">
            <table>
              <tr>
                <div  *ngFor="let schedule of schedules;">
                  <div *ngIf="schedule[0] == '178';">
                    <td><b>{{schedule[1]}}</b>:</td>
                    <td class ="time">{{schedule[2]}} mins &nbsp;</td>
                  </div>
                </div>
              </tr>
            </table>
          </div>
        </div>

    </div>

</div>
