<div class="full" >

    <div class="h-halfer" >

        <div class="w-thirder" >
            <div class="titler">
                <img src="/assets/images/u2.png" />
            </div>
            <div class="bodier">
                <div  *ngFor="let schedule of schedules;">
                  <div *ngIf="schedule[0] == 'U2';">
                    <b>{{schedule[1]}}</b>:  <i> {{schedule[2]}} mins &nbsp;</i><br/>
                  </div>
                </div>
            </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus177.png" />
          </div>
          <div class="bodier">
            <div  *ngFor="let schedule of schedules;">
              <div *ngIf="schedule[0] == '177';">
                <b>{{schedule[1]}}</b>:  <i> {{schedule[2]}} mins &nbsp;</i><br/>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="h-halfer" >

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus50.png" />
          </div>
          <div class="bodier">
            <div  *ngFor="let schedule of schedules;">
              <div *ngIf="schedule[0] == '50';">
                <b>{{schedule[1]}}</b>:  <i> {{schedule[2]}} mins &nbsp;</i><br/>
              </div>
            </div>
          </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus178.png" />
          </div>
          <div class="bodier">
            <div  *ngFor="let schedule of schedules;">
              <div *ngIf="schedule[0] == '178';">
                <b>{{schedule[1]}}</b>:  <i> {{schedule[2]}} mins &nbsp;</i><br/>
              </div>
            </div>
          </div>
        </div>

    </div>

</div>
