<div class="full" >

    <div class="h-halfer" >

        <div class="w-thirder" >
            <div class="titler">
                <img src="/assets/images/u2.png" />
            </div>
            <div class="bodier">
                <li>
                    {{title}}
                </li>
            </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus177.png" />
          </div>
          <div class="bodier">
              <li>
                  {{title}}
              </li>
          </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/pendel.png" />
          </div>
          <div class="bodier">
              <li>
                  {{title}}
              </li>
          </div>
        </div>

    </div>

    <div class="h-halfer" >

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus50.png" />
          </div>
          <div class="bodier">
              <li>
                  {{title}}
              </li>
          </div>
        </div>

        <div class="w-thirder" >
          <div class="titler">
              <img src="/assets/images/bus178.png" />
          </div>
          <div class="bodier">
              <li>
                  {{title}}
              </li>
          </div>
        </div>

        <div class="w-thirder" >
            {{title}}
        </div>

    </div>

</div>
