.full
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.meteo
{
  background-color: yellow;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 40%;
  height: 90%;
  overflow: hidden;
  float:left;
}
.news
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 10%;
  overflow: hidden;
  float:left;
}
.traffic
{
  background-color: red;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 40%;
  height: 90%;
  overflow: hidden;
  float:left;
}
.transit
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 20%;
  height: 90%;
  overflow: hidden;
  float:left;
}
