<div class="logos-container no-marg-or-pad centered">
  <table class="full-width no-marg-or-pad vcentered">
    <tr class = "full-width no-marg-or-pad">
      <td class = "full-width no-marg-or-pad">
        <logos class = "full-width no-marg-or-pad"></logos>
      </td>
    </tr>
  </table>
</div>
<div class="feeds-container no-marg-or-pad centered">
  <table class="full-width no-marg-or-pad vcentered">
    <tr class = "full-width no-marg-or-pad">
      <td class = "full-width no-marg-or-pad">
        <feeds class = "full-width no-marg-or-pad"></feeds>
      </td>
    </tr>
  </table>
</div>
