.vcentered
{
  vertical-align: middle;
}
.logos-container
{
   width: 10%;
   float: left;
}
.full-width
{
  width: 100%;
}
.no-marg-or-pad
{
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.feeds-container
{
   width: 90%;
   float: left;
   text-align: right;
}
