table
{
  align: center;
  valign: center;
}
.logos-container
{
   width: 10%;
   float: left;
}
.full-width
{
  width: 100%;
}
.no-marg-or-pad
{
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
