.carousel
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}
.slides
{
    list-style: none;
    position: relative;
    width: 1000%;/**/
    overflow: hidden;
    -moz-animation: carousel1 120s infinite;
    -webkit-animation: carousel1 120s infinite;
    animation: carousel1 120s infinite;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.slides > li
{
    position: relative;
    float: left;
    width: 10%;/**/
    height: 100%;
}
.carousel img
{
    max-width: 190px;
    max-height: 80px;
    width: 100%;
}

@keyframes carousel1/**/
{
    0%   {
      translateY:100%;
      left:-0%;
    }
    5%   { left:-0%; }
    10%  { left:-100%; }
    15%  { left:-100%; }
    20%  { left:-200%; }
    25%  { left:-200%; }
    30%  { left:-300%; }
    35%  { left:-300%; }
    40%  { left:-400%; }
    45%  { left:-400%; }
    50%  { left:-500%; }
    55%  { left:-500%; }
    60%  { left:-600%; }
    65%  { left:-600%; }
    70%  { left:-700%; }
    75%  { left:-700%; }
    80%  { left:-800%; }
    85%  { left:-800%; }
    90%  { left:-900%; }
    95%  { left:-900%; }
    100% { translateY:-100%;}
}
